<ion-header>
  <ion-navbar>
    <ion-title text-center>Safnari</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar type="text" animated="true"
        [(ngModel)]="searchValue" showCancelButton="true" 
        (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" (ionClear)="onCancel($event)">
  </ion-searchbar>

  <ion-list>
    <ion-list-header>
      <h3>{{ collection.name }}</h3>
    </ion-list-header>
    <button ion-item *ngFor="let item of filteredItems">
      <ion-thumbnail item-start [style.backgroundImage]="'url(' + item.picture + ')'">
      </ion-thumbnail>
      <h2>{{ item.title }}</h2>
      <h3 *ngIf="item.artist">{{ item.artist }}</h3>
      <p>{{ item.publisher }}</p>
    </button>
  </ion-list>
</ion-content>
